/* ================== RESET E CONFIGURAÇÕES GERAIS ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  background-color: #faf9fa !important;
}

/* ================== BOTÕES PERSONALIZADOS ================== */
.btn-custom {
  border: 2px solid #227a17;
  background-color: #227a17;
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 30px;
  margin-top: 25px;
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 25px;
}

.btn-custom:hover {
  animation: pulse 20s;
}

.btn-custom_2 {
  background-color: #227a17;
  border: 2px solid #1f6b14;
  color: #fff;
  padding: 5px 15px;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.btn-custom_2:hover {
  background-color: #1a5f11;
  color: #fff;
}

.btn-success {
  background-color: #227a17;
  border: 1px solid #1f6b14;
}

.btn-success:hover {
  background-color: #1b5f13;
}

.btn-outline-secondary {
  border-radius: 25px;
}

/* ================== CABEÇALHO ================== */
.header {
  background-color: rgb(1, 207, 1);
  display: flex;
  background-size: cover;
  width: 100%;
  height: 10vh;
  padding: 10px 50px;
  position: relative;
  text-shadow: 20px;
}

.titulo-subtitulo {
  color:black !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* ================== SEÇÃO 1 ================== */
.section_1 {
  background-image: url("/img/fundo-principal.jpg");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 20px 50px;
  position: relative;
}

.section_1_titulo {
  color: rgb(0, 0, 0) !important;
  position: absolute;
  top: 35%;
  left: 35%;
  font-weight: bold;
  font-size: 4vmin;
  text-wrap: balance;
  line-height: 1.0;
  text-align: center;
}

@media (max-width: 768px) {
  .section_1_titulo {
    top: 35%;
    left: 10%;
  }
}



/* ================== SEÇÃO 2 ================== */
.section-2 {
  min-height: 100vh;
  background: linear-gradient(135deg,#004d00 , #33cc33,#ffeb3b);
  background-size: cover;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quando o mouse está no container */
.pontos:hover .card {
    filter: blur(4px);
    transition: 0.3s ease;
}

/* Quando o mouse está sobre um card específico */
.pontos .card:hover {
    filter: blur(0px);
    transform: scale(1.02);
    z-index: 10;
}

/*
@media (max-width: 768px) {
  .section_2 {
    background-image: url("/img/fundo-resgate-verde-circulos-sustentaveis.jpg");
  }
}

.section_2_titulo {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 125%;
  left: 55%;
  font-size: medium;
}

@media (max-width: 768px) {
  .section_2_titulo {
    top: 125%;
    left: 1%;
  }
}
*/

/* ================== FORMULÁRIO DE CONTATO ================== */
.form-container {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  border: 2px solid #227a17;
  border-radius: 20px;
  padding: 40px;
  max-width: 600px;
  margin: 100px auto 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #1f6b14;
  font-weight: bold;
}

.form-control {
  border-radius: 15px;
  border: 1px solid #227a17;
}

#msgSucesso {
  display: none;
  text-align: center;
  margin-top: 20px;
  color: #1f6b14;
  font-weight: bold;
}

/* ================== ÁREA DE LOGIN / CADASTRO ================== */
.logo_empresa {
  width: 130px;
  height: 130px;
}

.titulos_empresa {
  font-size: 25px;
  margin: 20px 1px;
  height: 30px;
}

.menu_empresa {
  align-items: center;
  margin: 0 auto;
  margin-top: 35px;
  margin-right: 100px;
  font-size: 25px;
  font-weight: bold;
  height: 30px;
}

.menu_empresa a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.top {
  margin-top: 100px;
}

.fundo-branco,
.fundo-branco2 {
  background-color: #fff;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  padding: 50px;
}

.fundo-branco h2,
.fundo-branco2 h2 {
  margin-bottom: 20px;
}

.grupo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: border 0.2s;
}

.fundo-branco button.cadastrar {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fundo-branco2 button.entrar {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fundo-branco2 button.cad {
  background-color: #727272;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.botoes {
  display: grid;
}
