.btn-custom {
    border: 2px solid #227a17;
    background-color: #227a17;
    display: flex;
    margin: 0 auto;
    align-items: center;
    height: 30px;
    margin-top: 25px;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 25px;
}

.btn-custom:hover {
    animation: pulse 20s;
}

.btn-custom_2 {
    background-color: #227a17;
    border: 2px solid #1f6b14;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.section_1 {
    background-image: url("/img/fundo principal.jpg");
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px 50px;
    position: relative;
    text-shadow: 20px;
}

.section_1_titulo {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 35%;
    left: 35%;
    font-weight: bold;
    font-size: 4vmin;
    text-wrap: balance;
    line-height: 1.0;
    text-align: center;
}

@media (max-width: 768px) {
    .section_1_titulo {
        top: 35%;
        left: 10%;
    }
}

.section_2 {
    background-image: url("/img/fundo do sobre.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media (max-width: 768px) {
    .section_2 {
        background-image: url("/img/Fundo Resgate Verde - Círculos Sustentáveis.jpg");
    }
}

.section_2_titulo {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 125%;
    left: 55%;
    font-size: medium;
}

@media (max-width: 768px) {
    .section_2_titulo {
        top: 125%;
        left: 10%;
    }
}

header {
    display: block;
    background-size: cover;
    width: 100%;
    height: 10vh;
    position: relative;
}